<% Permission.all.each do |permission| %>
  <div class="col s4">
    <%= check_box_tag "permission-#{permission.id}",
                      permission.id,
                      @group_permissions.include?(permission),
                      onclick: "updatePermission('#{@group.name}', this);",
                      disabled: @disabled,
                      class: 'filled-in' %>
    <%= label_tag "permission-#{permission.id}", permission.name %>
  </div>
<% end %>
