<%= form_for Announcements.new, url: announcements_path, method: :post, remote: true do |f| %>
<ul id="announcement-errors"></ul>
<div class="input-fields">
  <%= f.text_field :title, placeholder: 'title' %>
</div>
<div class="input-field">
  <%= f.text_field :content, placeholder: 'Write your announcement' %>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action">
  <i class="material-icons left">cool</i> Post Announcement
</button>
<% end %>
