<div class='announcement col s12 card' id='project_announcement-<%= project_announcement.id %>' style="cursor: pointer;">
  <div class="card-content">
    <span class="card-title purple-text"><%= project_announcement.title %><span class="badge right"><%= project_announcement.project.code %></span></span>
    <span class="grey-text"><%= project_announcement.content %></span>
  </div>
</div>
