<div class="row">
  <h3 class="purple-text">System Announcements</h3>
</div>
<%= render @system_announcements %>

<div class="row">
  <h3 class="purple-text">Project Announcements</h3>
</div>
<%= render @project_announcements %>

<div class="fixed-action-btn">
  <button data-target="create-announcement-modal" data-toggle='modal' class="btn-floating btn-large purple tooltipped" data-position="left" data-delay="50" data-tooltip="Create A New Announcement">
    <i class="large material-icons">post</i>
  </button>
</div>

<div id="create-group-modal" class="modal">
  <div class="container">
    <div class="row">
      <%= render 'announcements/new' %>
    </div>
  </div>
</div>
