<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-content">
      <%= form_tag profile_search_path, method: :post, remote: true, id: 'profile_search_form', onchange: 'Search();' do %>
        <div class="input-field">
          <%= text_field_tag :search_bar, "", onkeyup: 'Search();' %>
          <%= label_tag :search_bar, 'Search Profiles' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col s8">
    <div id='profiles'>
      <% @profiles.each do |profile| %>
        <%= render 'profiles/profile', profile: profile %>
      <% end %>
    </div>
  </div>
</div>
