<% if @project_type.destroyed? %>
  $('#flash').empty();
  $('#project-type-<%= @project_type.id %>').remove();
<% else %>
  $('#flash').html("<p id='alert'>Could not delete project type.</p>");
<% end %>
