<div class="row">
  <h4 class="purple-text">Admin Panel</h3>
</div>
<div class="row">
  <div class="col s12 z-depth-2 section">
    <div class="container">
      <div class="row">
        <h5 class="purple-text">Invitations</h5>
        <%= render 'invitations/new' %>
      </div>

      <div class="row">
        <%= link_to "View All Invitations", invitations_path %>
      </div>
    <div>
  </div>
</div>
