<h1>Group: <%= @group.name %></h1>
<p><%= @group.description %></p>

<%= render 'group_users/search' %>
<h2>Users:</h2>
<div id='group-users'>
</div>

<script>
  loadGroupUsers('<%= @group.name %>');
</script>
