<div class="row no-margin left" style="display: flex; width: 100%;" id="<%= user.id %>">
  <div class="left" style="display: flex; justify-content: center; align-items: center; margin: 10px"><%= user_avatar(user) %></div>
  <div class="right" style="display: flex; justify-content: center; align-items: center;">
    <div>
      <p class='name left-align'><%= user.name %><br/>
      <span class="grey-text"><%= user.email %></span></p>
    </div>
  </div>
</div>
