<p>Results</p>
<% if skills.nil? %>
  <div>
    No skills found.
  </div>
<% else %>
  <% skills.each do |skill| %>
    <div skill-name="<%= skill.name %>">
      <%= button_to "#{skill.name}", create_user_skill_path(skill_id: skill.id), method: :get %>
    </div>
  <% end %>
<% end %>
