<li class="user_skill collection-item" id="user_skill-<%= user_skill.id %>">
  <span class="skill-name"><%= user_skill.skill.name %></span>
  <span class="badge" id="rating-<%= user_skill.id %>"><%= user_skill.rating.humanize %></span>
</li>
