<h1>Profile#skills</h1>
<div id='skill-form'>
  <%= render 'user_skills/search_form' %>
  <div id='skill_search_results'></div>
</div>
<div id='skills'>
  <% if @user_skills.present? %>
    <table>
      <%= render @user_skills %>
    </table>
  <% else %>
    <p id='no-skills'>User has no Skills.</p>
  <% end %>
</div>
