<p>Hello <%= @email %>,</p>
<p>You have been invited to join the Leidos Resource Management System.</p>
<p>Please click to following link to create your account: <%= accept_invitation_url(@token) %></p>
