<div class="col s6 project-role-skill project-role-content" id='<%= project_role.id %>-project_role_skill-<%= project_role_skill.id %>'>
  <span class="skill-name"><%= project_role_skill.skill.name %></span>
  <span class="new badge" data-badge-caption="<%= project_role_skill.rating.humanize %>"></span>
</div>
