<%= form_for Invitation.new, url: invitations_path, method: :post, remote: true do |f| %>
<ul id="invitation-errors"></ul>
<div class="input-field">
  <%= f.text_field :email, placeholder: 'Email' %>
</div>
  <div class="input-field">
  <%= f.collection_select :groups, Group.all, :id, :name, { prompt: 'Select Groups' }, { multiple: true } %>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action">
  <i class="material-icons left">email</i> Send Invitation
  </button>
<% end %>
