<div id='projects'>
  <%= render @projects %>
</div>

<% if @can_create %>
  <div class="fixed-action-btn">
    <button data-target="create-project-modal" data-toggle='modal' class="btn-floating btn-large purple tooltipped" data-position="left" data-delay="50" data-tooltip="Create A New Project">
      <i class="large material-icons">add</i>
    </button>
  </div>

  <div id="create-project-modal" class="modal">
    <%= render 'projects/new' %>
  </div>
<% end %>
