<div id='location-<%= location.id %>'>
  <%= link_to 'x', project_role_locations_path(code: project.code, name: project_role.name, location_id: location.id), method: :delete, remote: true %>
  <%= location.name %>
</div>
