<% results.each do |user| %>
  <%= link_to project_group_users_path(code: project_group.project.code, name: project_group.name, id: user.id), method: :post, remote: true do %>
    <p><%= user.name %></p>
  <% end %>
<% end %>
