<%= form_tag project_role_users_search_path, method: :post, remote: true, authenticity_token: true, id: 'search-form' do %>
  <%= text_field_tag :user, '', placeholder: 'Search Users', onkeyup: 'search();', autocomplete: :off %>
<% end %>
<div id='search_results'>
  <% if @results.present? %>
  <%= render 'project_role_users/results', results: @results, project_role: @project_role %>
  <% end %>
</div>
