<% if @project_group_user.persisted? %>
  $('#flash').html("<p id='notice'>User added.</p>");
  $('#project-group-users').prepend("<%= j render 'project_group_users/project_group_user', project_group_user: @project_group_user %>");
  ready();
<% else %>
  $('#flash').html("<p id='alert'>User could not be added.</p>");
<% end %>
