<% if @results.blank? %>
  $('#search_results').html('<p>No results</p>');
<% else %>
  $('#search_results').html("<%= j render 'project_role_users/results', results: @results, project_role: @project_role %>");
<% end %>
