.img-circle {
  border-radius: 100%;
}

.white {
  fill: white;
}

.red {
  fill: red;
}

.yielded {
  max-width: 768px;
  padding: 10px 20px;
  margin: auto;
  background-color: rgba(250, 250, 250, 0.3);
  height: 100%;
}
