@charset "utf-8";
/* CSS Login page */
html, body {
  height:100%;
}

.gridContainer {
	padding-top:10%;
}

.table {
	text-align:center;
	width:100%;
	alignment-adjust:central;
	border:medium;
}

h1 {
	font-size:x-large;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	margin:0px;
	color:#89188A;
}

.textBox {
	background-color:none;
	text-align: center;
	border-bottom-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid, thin;
	border-left-style: none;
	border-bottom-color: #CCC;
	font-family: 'Roboto', sans-serif;
	width:100%;
}

#submit {
	background-color:#CCC;
	color:#FFF;
	border:none;
	width:100%;
	max-width:250px;
}

#forgotten-password {
  font-size: smaller;
  color: #89188A;
}
