/* Remove margins and padding from the list, and add a black background color */
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: #d8d4d5 2px solid;

  ul {
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
  }

  li {
    float: left;

    a {
      display: inline-block;
      color: #760F88;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
    }

    :hover { background-color: #f0f0f0; }
  }

  .icon { display: none; }
  .text { display: none; }
  .right { float: right; }

  li:first-child {
    img {
      height: 20px;
    }

    a {
      padding: 13px 16px;
    }

    :hover { background-color: inherit; }
  }

  .octicon {
    fill: #760F88;
  }
}

/* Style the links inside the list items */



/* Hide the list item that contains the link that should open and close the topnav on small screens */
@media only all and (max-aspect-ratio: 1/1) {
  .right { float: none !important; }

  ul#topnav li:not(:first-child) { display: none; }

  ul#topnav.responsive { position: relative; }

  ul#topnav li.icon {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul#topnav.responsive li {
    float: none;
    display: inline;
  }

  ul#topnav.responsive li a {
    display: block;
    text-align: left;
  }

  ul#topnav.responsive span.text { display: inline-block; }

  ul#topnav li#notifications {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 48px;
  }
}
