<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<div id="LayoutDiv1">
  <h1>Forgotten your password?</h1>
</div>

<div id="emailBody">
  <p>&nbsp;</p>
  <p>This email has been sent to allow you to reset your password by clicking the button below.</p>
</div>

<%= link_to edit_password_url(@resource, reset_password_token: @token) do %>
  <div id="passwordButton">
    <p style="color:#FFF; font-weight:400;">Reset your password</p>
  </div>
<% end %>

<div id="logoFooter">
  <p>Copyright Leidos inc.</p>
  <p>If you have received this email in error, please discard of it immediately and contact the sender.</p>
  <p>&nbsp;</p>
  <%= image_tag 'leidos_logo.jpg', id: 'leidos_logo' %>
</div>
