<div class="row" style="display: table-cell;">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin Panel</a></li>
    <li><a href="/admin/locations">Locations</a></li>
  </ul>
</div>

<%= render 'locations/new', location: Location.new %>
<h1>Locations</h1>
<div id='locations'>
  <%= render @locations %>
</div>
