<footer class="page-footer purple">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <%= image_tag "reaf_logo.png", style: 'height: 45px;' %>
      </div>
      <div class="col s4 right-align">
        <p style="line-height=100%;" class="white-text">Version: <%= COMMIT %></p>
      </div>
    </div>
  </div>
</footer>
